<%- include('partials/header'); -%>

<body>
	<div class="data">
		<div>
			<p1>Profile Detail</p1>
		</div>
		<div>
			<center>
				<table class="table">
					<tr>
						<td>Name </td>
						<td><%=user.username %></td>
					</tr>
					<tr>
						<td>Email </td>
						<td><%=user.email %></td>
					</tr>
					<tr>
						<td>Role </td>
						<td><%=user.role  %></td>
					</tr>
				</table>
			</center>
		</div>
		
	</div>
</body>

